* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  height: 10vh;
  width: 100vw;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding: 0 4vw;
  border-bottom: 0.15vh solid rgba(0, 255, 255, 0.2);
  color: rgb(255, 255, 255);
}

.navbar::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    120% 80% at 50% 0%,
    rgba(38, 157, 208, 0.34),
    transparent 60%
  );
  pointer-events: none;
}


/* BRAND */
.navbar h1 {
  color: #6ae6f1;
  font-size: 3.2vh;
  font-weight: 600;
  letter-spacing: 0.2vw;
  margin-right: auto;
  cursor: pointer;
}

/* RESET LINK */
.navbar a {
  text-decoration: none;
}

/* BUTTONS */
.navbar button {
  background-color: rgb(0, 0, 0);
  border: 0.2vh solid rgba(0, 234, 255, 0.45);
  color: #f7fbfb;
  padding: 1.2vh 2.4vw;
  border-radius: 0.8vh;
  font-size: 1.8vh;
  cursor: pointer;
  transition: all 0.25s ease;
}

/* HOVER */
.navbar button:hover {
  background: rgba(0, 234, 255, 0.15);
  box-shadow: 0 0 2vh rgba(0, 234, 255, 0.6);
  transform: translateY(-0.2vh);
}

/* CLICK */
.navbar button:active {
  transform: scale(0.95);
}

.navbar img {
  position: absolute;
  left: 10px;
  cursor: row-resize;
}
/* SMALL SCREENS */
@media (max-width: 600px) {
  .navbar {
    height: 12vh;
    gap: 3vw;
  }

  .navbar h1 {
    font-size: 3.6vh;
  }

  .navbar button {
    font-size: 2vh;
    padding: 1.4vh 3vw;
  }
}

